

<p>date: <%= text_field_tag 'cities_date', '', :class => 'field' %></p>
<p>city_id: <%= text_field_tag 'cities_city', '', :class => 'field' %></p>
<p>cinema_id: <%= text_field_tag 'cities_cinema', '', :class => 'field' %></p>
<p>show_id: <%= text_field_tag 'cities_show', '', :class => 'field' %></p>
<p>long: <%= text_field_tag 'cities_long', '', :class => 'field' %></p>
<p>latt: <%= text_field_tag 'cities_latt', '', :class => 'field' %></p>

<p><%= submit_tag 'Cities' %></p>