<p>cinema_id: <%= text_field_tag 'e_cinema_id', '', :class => 'field' %></p>
<p>show_id: <%= text_field_tag 'e_show_id', '', :class => 'field' %></p>
<p>date: <%= text_field_tag 'e_date', '', :class => 'field' %></p>
<p>event_id: <%= text_field_tag 'e_event_id', '', :class => 'field' %></p>
<p>mime-type: <%= text_field_tag 'e_mime_type', 'application/json', :class => 'field' %></p>
<p><%= submit_tag 'Send events load' %></p>
