<p>URL: <%= text_field_tag 'url', 'http://localhost:3000/mobile/', :class => 'field' %></p>
<p>uid: <%= text_field_tag 'uid', '123456', :class => 'field' %></p>
<p>network_id: <%= text_field_tag 'network_id', 'Dku6733i4j', :class => 'field' %></p>
<p>secret: <%= text_field_tag 'multiplex', 'klDadt87sg1eRty', :class => 'field' %></p>
<%= submit_tag 'Check net' %>