<p>URL: <%= text_field_tag 'url', 'http://mobile.hubex.net/1/', :class => 'field' %></p>
<p>uid: <%= text_field_tag 'uid', '123456', :class => 'field' %></p>
<p>network_id: <%= text_field_tag 'network_id', 'zH942L6B34', :class => 'field' %></p>
<p>secret: <%= text_field_tag 'multiplex', 'c3jy15m7h2YYvo9', :class => 'field' %></p>
<%= submit_tag 'Check net' %>