<p>event_id: <%= text_field_tag 'r_event_id', '', :class => 'field' %></p>
<p>price: <%= text_field_tag 'price', '', :class => 'field' %></p>
<p>quantity: <%= text_field_tag 'qty', '', :class => 'field' %></p>
<p>exclude seats: <%= text_field_tag 'exclude_seats', '', :class => 'field' %></p>
<p><%= submit_tag 'Send request places' %></p>