
<p>date: <%= text_field_tag 'cinemas_date', '', :class => 'field' %></p>
<p>city_id: <%= text_field_tag 'cinemas_city', '', :class => 'field' %></p>
<p>cinema_id: <%= text_field_tag 'cinemas_cinema', '', :class => 'field' %></p>
<p>show: <%= text_field_tag 'cinemas_show', '', :class => 'field' %></p>

<p>long: <%= text_field_tag 'cinemas_long', '', :class => 'field' %></p>
<p>latt: <%= text_field_tag 'cinemas_latt', '', :class => 'field' %></p>


<p><%= submit_tag 'Cinemas' %></p>