<h4>Mobile API testing</h4>

<div id="tabs" style="position: relative; width: 98%; min-height: 400px; margin-top: 15px;" >

  <ul>
    <li><a href="#general">General</a></li>
    <li><a href="#auth">Auth</a></li>
    <li><a href="#logout">Logout</a></li>
    <li><a href="#dictionary">Dictionary</a></li>
    <li><a href="#shows">Shows</a></li>
    <li><a href="#halls">Halls</a></li>
    <li><a href="#changes">Changes</a></li>
    <li><a href="#events_load">Events_load</a></li>
    <li><a href="#event_places">Event places</a></li>
    <li><a href="#request_places">Request places</a></li>
    <li><a href="#reservation">Reservation</a></li>
    <li><a href="#order_status">Order status</a></li>
    <li><a href="#cabinet">Cabinet</a></li>
    <li><a href="#book_order">Book order</a></li>
    <li><a href="#cancel_order">Cancel order</a></li>
    <li><a href="#rollback_order">Rollback order</a></li>
    <li><a href="#eventmap">Eventmap</a></li>
    <li><a href="#logs">Logs</a></li>
    <li><a href="#cities">Cities</a></li>
    <li><a href="#sites">Sites</a></li>
    <li><a href="#site_shows">Site shows</a></li>
    <li><a href="#site">Site</a></li>
    <li><a href="#show">Show</a></li>
    <li><a href="#events">Events</a></li>
  </ul>
    <div id="flash"></div>
  <%= form_tag '/test_mobile/send_request', :remote => true, :class => 'request_form' do %>
    <div id="general"><%= render :partial => 'general' %></div>
    <div id="auth"><%= render :partial => 'auth' %></div>
    <div id="logout"><%= render :partial => 'logout' %></div>
    <div id="dictionary"><%= render :partial => 'dictionary' %></div>
    <div id="shows"><%= render :partial => 'shows' %></div>
    <div id="halls"><%= render :partial => 'halls' %></div>
    <div id="changes"><%= render :partial => 'changes' %></div>
    <div id="event_places"><%= render :partial => 'event_places' %></div>
    <div id="request_places"><%= render :partial => 'request_places' %></div>
    <div id="events_load"><%= render :partial => 'events_load' %></div>
    <div id="reservation"><%= render :partial => 'reservation' %></div>
    <div id="order_status"><%= render :partial => 'order_status' %></div>
    <div id="cabinet"><%= render :partial => 'cabinet' %></div>
    <div id="book_order"><%= render :partial => 'book_order' %></div>
    <div id="cancel_order"><%= render :partial => 'cancel_order' %></div>
    <div id="rollback_order"><%= render :partial => 'rollback_order' %></div>
    <div id="eventmap"><%= render :partial => 'eventmap' %></div>
    <div id="logs"><%= render :partial => 'log' %></div>
    <div id="cities"><%= render :partial => 'cities' %></div>
    <div id="sites"><%= render :partial => 'sites' %></div>
    <div id="site_shows"><%= render :partial => 'site_shows' %></div>
    <div id="site"><%= render :partial => 'site' %></div>
    <div id="show"><%= render :partial => 'show' %></div>
    <div id="events"><%= render :partial => 'events' %></div>
    Request duration: <span class="request_time">0</span>&nbsp;s
    <div class="output"></div>
  <% end %>
</div>

<style type="text/css">
  .ui-tabs .ui-tabs-nav li a, .ui-widget-content {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 0.875em;    
  }
  .ui-tabs .ui-tabs-nav li {
    width: 100px;
    text-align: center;
  }
  .output {
    width: 95%;
    min-height: 100px;
    padding: 10px;
    background: #ffef8f;
    border: 1px solid blue;
    overflow: scroll;
  }
  .field {
    position: relative;    
  }
  
  #flash {
      color: red;
      margin-top: 10px;
  }
   
</style>

<script type="text/javascript">

 $(function() {    
    $('#tabs').tabs();
 });

</script>
