<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>  
</head>

<body>
  <div id="container">    
    <header> <%= render 'layouts/header' %> </header>     
    <div id="wrapper">         
      <aside><%= render 'layouts/aside' %></aside>
      <nav> <%= render 'layouts/navigation' %></nav>      
      <section id="main">        
          <%= yield %>
      </section>    
    </div> <!-- /wrapper -->      
    <footer> <%= render 'layouts/footer' %> </footer>  
  </div> <!-- /container -->
</body>

</html>
